{% extends "base.twig" %}

{% block content %}
    <div class="small-6 small-offset-6 columns">
        <div class="bubble">

            <span class="woo">Woohoo</span> we are going home in <span class="home-in">{{ diff.days }}</span> days

        </div>
    </div>


{% endblock %}